<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating</title>
</head>

<body>
    <h2>My Profile</h2>

    <form action="/feed" method="GET">
        <button id="feed">Feed</button>
    </form>

    <form action="/profile" method="GET">
        <button id="profile">Profile</button>
    </form>

    <form action="/mathces" method="GET">
        <button id="matches">Matches</button>
    </form>

    <form action="/LogOut" method="GET">
        <button id="logOut">Log Out</button>
    </form> 

    <div class="userInfo">
        <p id="username">Current username: <%=username%></p>

        <p id="password">Current password: <%=password%></p>

        <p id="name">Current name: <%=name%><p>

        <p id="birthday">Current birthday: <%=birthday%></p>

        <p id="city">Current city: <%=city%></p>
    </div>

    <div class="updateInfo">

        <h3>Update your info</h3>

        <form action="/" id="form" method="POST" class="updateInfo-form">
            <div>
                <label for="username">Username:</label>
                <input type="username" name="username" id="username">
            </div>
            <br>
            <div>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password"> <br><br>
                <div id="password-requirements">
                    <b>Password requirements:</b>
                    <div id="password-length">
                        Min 8 characters:
                    </div>
                </div>
            </div>
            <br>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </div>
            <br>
            <div>
                <label for="birthday">Birthday:</label>
                <input type="date" name="birthday" id="birthday">
            </div>
            <br>
                <div>
                    <label for="city">city</label>
                    <input type="text" name="city" id="city">
                </div>
            <br>
            <div class="buttons">
                <button type="submit">Update</button>
            </div>
        </form>


    </div>

</body>

</html>